.search-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.search-form input {
  height: 40px;
  border: 1px solid rgba(128, 128, 128, 0.337);
  border-radius: 5px;
  padding: 10px;
}

.search-form select {
  height: 40px;
  border: 1px solid rgba(128, 128, 128, 0.337);
  border-radius: 5px;
  padding: 10px 30px 10px 15px;

  appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}

.search-form button {
  height: 40px;
  border: 1px solid rgba(128, 128, 128, 0.337);
  border-radius: 5px;
  background-color: var(--main-bg-color);
  color: var(--main-white-text-color);
  padding: 10px;
  cursor: pointer;
}
